.choose-username-container {
  background-color: #282c34; /* Dark background for the arcade game vibe */
  color: #F8F8F2; /* Bright text color */
  width: 50%; /* Adjust as needed */
  margin: auto; /* Center the container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Add some depth */
}

.form-container {
  text-align: center;
}

.icon-container {
  text-align: center;
  margin-bottom: 20px; /* Space between icon and form */
}

.icon-container img {
  width: 100px; /* Icon size */
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 80%; /* Adjust the width as needed */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333; /* Darker input fields */
  color: white; /* Bright text color */
}

button {
  background-color: #4caf50; /* Green button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff6b6b; /* Bright red for visibility */
  margin-top: 10px;
}
