.login-page {
  background-color: #282c34; /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  background-color: #333; /* Slightly lighter background for the container */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 600px; /* Adjust based on preference */
}

.login-container h2 {
  margin-bottom: 15px;
  font-size: 2.5em;
  color: #4caf50; /* Accent color for heading */
}

.login-container p {
  margin-bottom: 20px;
  color: #F8F8F2; /* Bright text color */
}

.login-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #4caf50; /* Green button */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
}

.login-button:hover {
  background-color: #45a049;
}
